<h2><%= @tag.name %></h2>
<h3>Recipes: <%= @tag.number_of_entries %></h3>
<h4>Recipes:</h4>
<ul>
<% @tag.entries.each do |entry| %>
  <li><a href="/<%= entry.id %>"><%= entry.name %></li>
<%end%>
</ul>

<!-- <p><a href="/">Back to main page</a></p> -->
